extends ../layout

block content
	h2(class="gear-text-white") Aggregate match metrics for ALL teams
	
	if (aggdata)
		div(class="w3-container")
			div(class="w3-responsive")
				table(class="w3-table")
					tr
						th Metric
						th Min
						th Avg
						th Max
					each agg in aggdata
						tr
							td(class="w3-text-light-gray")
								a(href=`/reports/metricintel?key=${agg.key}`)= agg.key
							- var minCol = 'w3-text-white'
							- if (agg.min == 0) minCol = 'w3-text-gray'
							td(class=`${minCol}`)= agg.min
							- var avgCol = 'w3-text-white'
							- if (agg.avg == 0) avgCol = 'w3-text-gray'
							td(class=`${avgCol}`)= agg.avg
							- var maxCol = 'w3-text-white'
							- if (agg.max == 0) maxCol = 'w3-text-gray'
							td(class=`${maxCol}`)= agg.max

