//-
	Admin scoring audit page.
	PARAM
		audit	[Object array]
			member	Member name
			record	[Object array]
				match	Each match; either [N]ot scored, [C]overed, covered by [P]arent; if null, match completed
	CALLED FROM
		admindashboard.js	'/admin/scoringaudit'
		
extends ../layout
block content
	h2 Audit trail for match scouting
	p
	each row in audit
		if (row.member)
			hr
			h4= row.member
			each item in row.record
				- var itemClass = "w3-button gear-hover-white w3-green audit-card"
				- if (item == 'N') itemClass = "w3-button gear-hover-white theme-red audit-card"
				- if (item == 'C') itemClass = "w3-button gear-hover-white w3-yellow audit-card"
				- if (item == 'P') itemClass = "w3-button gear-hover-white w3-purple audit-card"
				div(class=`${itemClass}`)
					span= item
