extends ..\layout

block content
	h3(class="gear-text-white")=title
	div(class="w3-container w3-padding-16")
		h4(class="gear-text-white") Options for 'Unassigned' Scouts/Scorers
		a(href="/admin/scoutingpairs") 
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span Ad-hoc Scouting
		a(href="/admin/teammembers") 
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span Ad-hoc Scoring
