extends ../layout

block content
	center
		button(type="button" class="btn btn-default" onclick="clicked()") hello
		<br>
		button(type="button" id="button1" class="btn btn-info" onclick="clicked2()") click this
		p(id="p1") unclicked
	script(type="text/javascript").
		var stop = false;
		
		var i = 0;
		
		var dialog = ["dont click this button",
			"i said dont click this!",
			"have you ever heard of directions?",
			"stop",
			"just... stop",
			"I SAID STOP!!!",
			"fine",
			"but dont do it again k?"
			"WTf DID I JUST SAY?!",
			"seriously?",
			"click me again and ill install a virus on your computer",
			"i cant believe that didnt trick you :I",
			"more soon"];
		
		function clicked()
		{
			alert("test");
		}
		
		function clicked2()
		{
			if (!stop)
			{
				document.getElementById("p1").innerHTML = dialog[i];
				i++;
			}
		}
		
		function start()
		{
			document.getElementById("p1").innerHTML = dialog[i];
			i++;
		}
