extends ../layout

block content
	include ../nav
	button(type="button" class="btn btn-default" onclick="alert('hello')") hello
	br
	button(type="button" id="button1" ng-class="btn btn-info disabled:btnClicked==true" ng-click="btnClicked=true && !btnClicked") {{btnLabel}}
	br
	center
		div
			div(class="row")
				label(class="col-3")
				button(class="col-1 btn btn-danger" type="button" onclick="minus()" ng-click="btnTest--") -
				label(id="label" class="col-4") {{btnTest}}
				button(class="col-1 btn btn-success" type="button" onclick="plus()" ng-click="btnTest++") +
				label(class="col-3")