extends ../layout
block content
	- var array = [1,2,3,4];
	each i in array
		extends scouting-templates/chkText
	script.
		var chkToggleText = function(){
			var txtInput = this.nextElementSibling.firstElementChild;
			if(this.checked){
				txtInput.disabled = false;
			}else{
				txtInput.disabled = true;
			}
		}
		$(function(){
			$(".chkText").on('click', chkToggleText);
		});