extends ../layout

block content
	include ../nav
	table(class="table")
		tr
			th programming
			th mechanical
			th electricul
		tr
			td
				button(class="btn") aiusuaospapsoaosioais cnisin
			td
				button(class="btn") awoioi seoiio
			td
				button(class="btn") oaioie ursifu
			td
				table(class="table")
					tr
						th first name
						th last name
					tr
						td aiusuaospapsoaosioais
						td cnisin
					tr
						td 
						td 
					tr
						td 
						td 
			td
				table(class="table")
					tr
						th first name
						th last name
					tr
						td qwoiwio
						td itrodi
					tr
						td oawiusue
						td vnoije
					tr
						td poeio
						td kscuohiej
					tr
						td yridrui
						td urgway
					tr
						td Ackachee
						td Keaweahulu
			td
				table(class="table")
					tr
						th first name
						th last name
					tr
						td iaowi
						td aoieoie
					tr
						td aowiow
						td pawopop
					tr
						td aoiweio
						td iawoiio