extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		p
			a(href="./admin/scoutingpairs") Scouting pairs
			br
			a(href="./admin/teammembers") Manage Members
			br
			a(href="./admin/teammembers/present") Set who is present at the current event