extends layout

block content
	h3(class="gear-text-white")=title
	div(class="w3-container w3-padding-16")
		h4(class="gear-text-white") Member Management
		a(href="/admin/scoutingpairs") 
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span Scouting pairs
		a(href="/admin/teammembers") 
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span Manage Members
		a(href="/admin/teammembers/present") 
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span Set who is present at current event
		a(href="/login/resetpassword")
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span  Reset User Password
		a(href="/login/adduser")
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span Add Admin
		h4(class="gear-text-white") Current Event - #{current}
		a(href="/admin/current/matches") 
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span See matches for current event
		h4(class="gear-text-white") API Data Management
		a(href="/admin/data/events") 
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-section gear-margin-sides")
				span Load/Update events
		hr
		form#setCurrentEvent(name="setCurrentEvent" method="post" action="/admin/setcurrent")
			input#setEvent(type="text", name="eventId")
			button#btnSubmit(type="submit") Set current eventId

	//-
		h1= title
		p Welcome to #{title}
		div
			p
				a(href="./admin/scoutingpairs") Scouting pairs
				br
				a(href="./admin/teammembers") Manage Members
				br
				a(href="./admin/teammembers/present") Set who is present at the current event
	//