extends layout

block content
	script(src="lib/jquery.min.js")
	script.
		$(document).ready(function(){
			var user,pass;
			$("#submit").click(function(){
				text=$("#text").val();
				$.post("./ajax-example/submit",{text: text}, function(data){
					console.log(data);
				});
			});
		});
			
	h1 AJAX example
	p Make sure to check console.
	input(type="TEXT" id="text" placeholder="Input some data" size="40")
	br
	input(type="button" id="submit" value="Submit")