extends layout

block content
	script(src="/lib/jquery.min.js")
	script(src="/js/ajax-sample.js")
			
	h3(class="gear-text-white") AJAX example
	p Make sure to check console.
	input(type="TEXT" id="text" placeholder="Input some data" size="40")
	br
	input(type="button" class="w3-button gear-hover-white gear-orange" id="submit" value="Submit")