extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		p
			a(href="./buttons") buttons
			br
			a(href="./tables") tables
			br
			a(href="./angular") angular
			br
			a(href="./mongo") mongo