extends layout

block content
	div(class="w3-container w3-section")
		h4(class="gear-text-white") Reports
		
		label()
			input(class="w3-padding gear-orange w3-border-white w3-border w3-margin-right" style="border: none; width: 6.2em" type="number" placeholder="Team #" id="teamNo")
		a()
			button(class="gear-btn gear-orange w3-btn w3-disabled" onclick="redIntel()" id="stats" disabled)
				span Stats
		a()
			div(class="gear-btn gear-orange gear-hover-white w3-btn w3-margin-left" onclick="redUpcoming()")
				span Upcoming Matches
	
	div(class="w3-container w3-section")
		h4(class="gear-text-white") Log In
		a(href="/login/scouter") 
			div(class="gear-btn gear-orange gear-hover-white w3-btn")
				span Scouter Login
	div(class="w3-container w3-section")
		a(href="/login/admin")
			div(class="gear-btn gear-orange gear-hover-white w3-btn")
				span Admin Login
	script.
		function redIntel(){
			if( !$("#teamNo").val() ){
				if( !$("#stats").prop("disabled"))
					alert("You must specify a team.");
			}else{
				var key = "frc".concat($("#teamNo").val());
				console.log("/reports/teamintel?team="+key);
				window.location.href = "/reports/teamintel?team="+key;
			}
		}
		function redUpcoming(){
			if( !$("#teamNo").val() ){
				window.location.href = "/reports/upcoming";
			}else{
				var key = "frc".concat($("#teamNo").val());
				window.location.href = "/reports/upcoming?team="+key;
			}
		}
		$("#teamNo").keyup(function(e){
			setTimeout( isTeamFilled(this), 1)
		});
		$("#teamNo").click(function(e){
			setTimeout( isTeamFilled(this), 1)
		});
		function isTeamFilled(teamNo){
			console.log(teamNo);
			console.log(teamNo.value);
			if( teamNo.value != ""){
				$("#stats").addClass("gear-hover-white");
				$("#stats").removeClass("w3-disabled");
				$("#stats").prop("disabled", false);
			}else{
				$("#stats").removeClass("gear-hover-white");
				$("#stats").addClass("w3-disabled");
				$("#stats").prop("disabled", true);
			}
		}