extends layout

block content
	main(class="w3-mobile w3-center" style="font-size:1.2em")
		div(class="w3-container w3-padding-16")
			h4(class="gear-text-white") Scouters
			a(href="/login/scouter")
				div(class="gear-btn gear-orange gear-hover-white w3-btn")
					span Scouter Login
		div(class="w3-container w3-padding-16")
			h4(class="gear-text-white") Standings
			a(href="/")
				div(class="gear-btn gear-orange gear-hover-white w3-btn")
					span Standings
			a(href="/")
				div(class="gear-btn gear-orange gear-hover-white w3-btn w3-margin-left")
					span Match Predictions
		div(class="w3-container w3-padding-16")
			h4(class="gear-text-white") Admin
			a(href="/login/admin")
				div(class="gear-btn gear-orange gear-hover-white w3-btn")
					span Admin Login
		a(href="tests" class="w3-text-blue")
			br
			br
			p Our testing pages
	