doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" href="./css/scoringAppStyles.css")
		link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap-grid.min.css")
				
		link(rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		
		link(rel="stylesheet" href="./lib/w3.css")

	body
		include nav

		block content