doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/css/style.css")
<<<<<<< HEAD
		link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap-grid.min.css")
		script(type="text/javascript" src="/lib/angular/angular.min.js")
		script(src="/js/app.js")
	body(ng-app="app" ng="strict-di" ng-controller="AppController" ng-init="btnTest=0,btnLabel='click this',btnClicked=false")
=======
		link(rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.min.css")
		script(type="text/javascript" src="/libs/angular/angular.min.js")
		script(src="/js/app.js")
	body(ng-app="app" ng="strict-di" ng-controller="AppController" ng-init="")
>>>>>>> 63efc33f9172623cd450fc31166f3e4e7c99318b
		block content