//-
	Main layout page.
	All universal links and meta tags are here. Body includes nav and main at the top. Nav is outside of main. 
	Content of pages are located within main.
	PARAM
		title		[String] Title of page; if doesn't exist, will be replaced by "Untitled Page"
		alert		[String] (Optional) When page loads, create JS alert with message.
	CALLED FROM
		none
	EXTENDED FROM
		All pages
	INCLUDES
		nav
		main
	//
doctype html
html
	head
		if !title
			- title = "Untitled Page"
		title #{title} | Team 102 Scoring App
		meta(name="keywords" content="first robotics,frc,first robotics competition,somerville,new jersey,102,team 102,gearheads,gearheads 102,the gearheads,scoring,scoring app,standings,match standings,team 102 scoring app,scouting,gearheads scouting,team 102 scouting")
		meta(name="theme-color" content="#333")
		//link(rel="icon" sizes="192x192" href="favicon-192x.png")
		link(rel="stylesheet" href="/lib/w3.css")
		link(rel="stylesheet" href="/css/style.css")
		
		script(src="/lib/w3.js")
		script(src="/lib/jquery.min.js")
		//script(src="/js/animator2.js")
		script(src="/js/notification-cards.js")
		script(src="/js/submit-data.js")
		if alert
			script.
				$(function(){
					alert("#{alert}");
				});
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body(class="gear-black")
		include nav
		include main
			block content
