doctype html
html
	head
		if !title
			- title = "Untitled Page"
		title #{title} | Team 102 Scoring App
		meta(name="keywords" content="first robotics,frc,first robotics competition,somerville,new jersey,102,team 102,gearheads,gearheads 102,the gearheads,scoring,scoring app,standings,match standings,team 102 scoring app,scouting,gearheads scouting,team 102 scouting")
		link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap-grid.min.css")
		link(rel="stylesheet" href="/lib/w3.css")
		link(rel="stylesheet" href="/css/scoringAppStyles.css")
		link(rel="stylesheet" href="/css/style.css")
		//our stylesheet(s?) must be last b/c it's most important
		
		script(src="/lib/w3.js")
		script(src="/lib/jquery.min.js")
		script(src="/js/animator2.js")
		script(src="/js/notification-cards.js")
		if alert
			script.
				$(function(){
					alert("#{alert}");
				});
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body(class="gear-black")
		include nav
		include main
			block content
