doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap-grid.min.css")
		//link(rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon")
		//link(rel="icon" href="/favicon.ico" type="image/x-icon")
		//?????we don't need these links???
		link(rel="stylesheet" href="./lib/w3.css")
		link(rel="stylesheet" href="./css/scoringAppStyles.css")
		link(rel="stylesheet" href="/css/style.css")
		//our stylesheet(s?) must be last b/c it's most important
		
		meta(name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=no")

	body(class="gear-black w3-padding")
		include nav

		block content