doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/stylesheets/style.css")
		link(rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.min.css")
		script(type="text/javascript" src="/libs/angular/angular.min.js")
		script(src="/javascripts/app.js")
	body(ng-app="app" ng="strict-di" ng-controller="AppController" ng-init="")
		block content