extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		p
			a(href="../") Back
			br
			a(href="./tests/buttons") buttons
			br
			a(href="./tests/tables") tables
			br
			a(href="./tests/angular") angular
			br
			a(href="./tests/mongo") mongo
			br
			a(href="./ajax-example") ajax tests
			br
			a(href="./tests/showpartnersformember") show partners for member