//- <form method="post" enctype="multipart/form-data" action="/test/upload">
//- <input type="file" name="file">
//- <input type="submit" value="Submit">
//- </form>
//- img.className#IdName(src= `#{imageUrl}`)
//- img.className#IdName(src= "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png")

//- See the test.js page...

//- <form method="post" enctype="multipart/form-data" action="/test/upload">
//-     <input type="text" name="username">
//-     <input type="password" name="password">
//-     <input type="file" name="thumbnail">
//-     <input type="submit">
//- </form>