extends ../layout

block content
	form#changepassword-form(name="changepassword-form" method="post" action="")
		if user
			- var header = title + " for " + user.name
			h3(class="gear-text-white")=header
			div(class="w3-container w3-padding-16")
				label(class="w3-quarter gear-label") New Password: 
				input(class="w3-half" type="password" name="passwordOne")
			div(class="w3-container w3-padding-16")
				label(class="w3-quarter gear-label") Confirm: 
				input(class="w3-half" type="password" name="passwordTwo")
			div(class="w3-padding-16")
				input(type="submit" class="gear-btn gear-orange gear-hover-white w3-btn" value="Change Password")
		else
			script alert("Not logged in")