extends ../layout

block content
	h3= key.substring(key.indexOf('_')+1).replace('_',', ').replace('qm','Match #').replace('frc','Team #')
	p
	form(action="/scouting/submitmatch" method="post" name="scoutform")
		input#matchkey(type="hidden", name="matchkey", value=`${key}`)
		div(style="text-align:center")
			each element in layout
				case element.type
					when "checkbox"
						include templates/formCheckbox
					when "counter"
						include templates/formCounter
					when "badcounter"
						include templates/formBadcounter
					when "h2"
						include templates/formH2
					when "spacer"
						include templates/formSpacer
			center
				button(class="w3-button w3-cyan" type="submit") submit
	| <script>
	each element in layout
		case element.type
			when "checkbox"
				include templates/scriptCheckbox
			when "counter"
			when "badcounter"
				include templates/scriptCounter
	| </script>