extends ../layout
block content
	table(class="w3-content w3-center")
		each team, i in teams
			if( user.name == team.assigned )
				- color = "gear-text-red";
			else
				- color = "gear-text-white";
			tr(style="cursor:pointer" onclick="location.href='/scouting/survey?team="+team.team_number+"'" class=`w3-margin gear-black gear-hover-white ${color}`)
				td(class="w3-padding")=team.team_number
				td(class="w3-padding")=team.nickname
				if team.assigned
					td(class="w3-padding")=team.assigned
				else
					td(class="w3-padding" class="w3-text-grey") Not Assigned
				if( team.complete == true )
					td(class="w3-padding") Complete
				else
					td(class="w3-padding")
			tr 
				td(style="height:5px")