extends ../layout

block content
	include ../nav
	form(name="adduser" method="post" action="adduser" id="formAddUser")
		p
			input(class="form-control" type="text" placeholder="name" name="name" id="inputName")
		p
			input(class="form-control" type="text" placeholder="email" name="email" id="inputEmail")
		p
			button(class="btn btn-default" type="submit" id="btnSubmit") submit