h5=section.question
input(class="w3-check chkText" type="checkbox")
label(class="chkTextLabel w3-half gear-resp90" style="min-width: 50%; float: none")
	input(class="w3-rest gear-disabled-click" style="width:95%" type="number" value=answer name=section.id disabled)
br 
br 