h5=section.question
select(class="w3-half w3-border-light-grey" style="float: none" type="text" name=section._id)
	option
	each option, i in section.options
		option(value=option class="w3-bar-item") #{option}
br 
br 